@media screen and (max-width: 1400px){
    #profile {
        vertical-align: middle;
    }

    .section__pic-container {
        margin: 60px 0;
    }

    .about-containers {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1370px) {
    .about-containers {
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
    }

    #projects .details-container{
        max-width: 33%;
    }

}

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    
    #hamburger-nav {
        display: flex;
    }

    #profile {
        height: 59vh;
        margin-bottom: 4rem;
    }

    .section-container, .experience-details-container {
        margin-top: 3rem;
    }

    .section__pic-container{
        margin: 0;
    }

    .experience-sub-title{
        font-size: 1.5rem;
    }
    
    #projects .details-container  {
        max-width: 30%;
    }

    .arrow{
        display: none;
    }

    section, .section-container{
        height: fit-content;
    }

    section{
        margin: 3rem 5%;
    }

    .about-containers {
        margin-top: 0;
    }

    #contact {
        height: auto;
    }
}

@media screen and (max-width: 1024px) {
    #projects .details-container {
        max-width: 35%;
    }
}

@media screen and (max-width: 972px) {
    #profile {
        gap: 0rem;
    }
    
    .section__pic-container {
        margin: auto;
    }
}

@media screen and (max-width: 950px) {
    #profile {
        display: block;
    }

    .section__text {
        margin-top: 3rem;
    }

    #about {
        margin-top: 24rem;
    }
}

@media screen and (max-width: 768px) {
    #projects .details-container {
        max-width: 50%;
        margin: auto;
    }

    .about-containers {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    #contact, footer {
        height: 35vh;
    }

    #profile {
        margin-bottom: -10px;
        margin-top: 0;
    }

    #about {
        margin-top: 10rem;
    }

    article{
        font-size: 1rem;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .section__pic-container {
        text-align: center;
        left: 0;
        width: auto;
        height: 35vh;
        justify-content: center;
        margin-bottom: 24px;
    }
    
    .section__text{
        margin-top: 39px;
    }

    .contact-info-upper-container, .btn-container {
        flex-wrap: wrap;
    }

    #projects .about-containers {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    #projects .details-container {
        max-width: 75%;
    }

    .contact-info-container {
        margin: 0;
    }

    .contact-info-container p, .nav-links li a {
        font-size: 1rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }


    .section__text__p2 {
        font-size: 1.25rem;
    }

    .title {
        font-size: 2rem;
    }

    .text-container {
        text-align: justify;
    }
}


@media screen and (max-width: 350px) {
.section__pic-container{
    text-align: center;
}

.experience-sub-title {
    font-size: 1.4rem;
}

#projects .about-containers {
    width: 90%;
}
}