<<<<<<< HEAD
@media screen and (max-width: 1400px){
    #profile {
        height: 78vh;
        margin-bottom: -30rem;
    }

    .about-containers {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    
    #hamburger-nav {
        display: flex;
    }

    #about {
        margin-top: 45rem;
    }

    #experience, .experience-details-container {
        margin-top: 2rem;
    }

    #profile, .section-conatiner {
        display: block;
    }

    .section__pic-container{
        text-align: center;
        position: relative;
        left: 274px;
        height: 370px;
    }

    .section__text{
        margin-top: 39px;
    }

    .arrow{
        display: none;
    }

    section, .section-container{
        height: fit-content;
        margin-top: 34px;
    }

    section{
        margin: 0 5%;
    }

    .about-containers {
        margin-top: 0;
    }
}

@media screen and (max-width: 1024px) {
    #profile{
        margin-top: 30px;
    }

    #about {
        margin-top: 43rem;
    }
}

@media screen and (max-width: 768px) {
    #about {
        margin-top: 41rem;
    }

    .section__pic-container{
        height: 341px;
        width:  auto;
        left: 180px;
    }
}

@media screen and (max-width: 600px) {
    #contact, footer {
        height: 35vh;
    }

    #profile {
        margin-bottom: -10px;
        margin-top: 0;
    }
    
    #about{
        margin-top: 44px;
    }

    article{
        font-size: 1rem;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .section__pic-container {
        text-align: center;
        margin-left: -374px;
        width: auto;
        height: 35vh;
        justify-content: center;
        margin-bottom: 24px;
    }
    
    .section__text{
        margin-top: 39px;
    }

    .about-containers, .contact-info-upper-container, .btn-container {
        flex-wrap: wrap;
    }

    .contact-info-container {
        margin: 0;
    }

    .contact-info-container p, .nav-links li a {
        font-size: 1rem;
    }

    .experience-sub-title {
        font-size: 1.5rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }


    .section__text__p2 {
        font-size: 1.25rem;
    }

    .title {
        font-size: 2rem;
    }

    .text-container {
        text-align: justify;
    }
}


@media screen and (max-width: 350px) {
.section__pic-container{
    text-align: center;
    margin-left: -37px;
}
=======
@media screen and (max-width: 1400px){
    #profile {
        height: 78vh;
        margin-bottom: -30rem;
    }

    .about-containers {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    
    #hamburger-nav {
        display: flex;
    }

    #about {
        margin-top: 45rem;
    }

    #experience, .experience-details-container {
        margin-top: 2rem;
    }

    #profile, .section-conatiner {
        display: block;
    }

    .section__pic-container{
        text-align: center;
        position: relative;
        left: 274px;
        height: 370px;
    }

    .section__text{
        margin-top: 39px;
    }

    .arrow{
        display: none;
    }

    section, .section-container{
        height: fit-content;
        margin-top: 34px;
    }

    section{
        margin: 0 5%;
    }

    .about-containers {
        margin-top: 0;
    }
}

@media screen and (max-width: 1024px) {
    #profile{
        margin-top: 30px;
    }

    #about {
        margin-top: 43rem;
    }
}

@media screen and (max-width: 768px) {
    #about {
        margin-top: 41rem;
    }

    .section__pic-container{
        height: 341px;
        width:  auto;
        left: 180px;
    }
}

@media screen and (max-width: 600px) {
    #contact, footer {
        height: 35vh;
    }

    #profile {
        margin-bottom: -10px;
        margin-top: 0;
    }
    
    #about{
        margin-top: 44px;
    }

    article{
        font-size: 1rem;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .section__pic-container {
        text-align: center;
        margin-left: -374px;
        width: auto;
        height: 35vh;
        justify-content: center;
        margin-bottom: 24px;
    }
    
    .section__text{
        margin-top: 39px;
    }

    .about-containers, .contact-info-upper-container, .btn-container {
        flex-wrap: wrap;
    }

    .contact-info-container {
        margin: 0;
    }

    .contact-info-container p, .nav-links li a {
        font-size: 1rem;
    }

    .experience-sub-title {
        font-size: 1.5rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }


    .section__text__p2 {
        font-size: 1.25rem;
    }

    .title {
        font-size: 2rem;
    }

    .text-container {
        text-align: justify;
    }
}


@media screen and (max-width: 350px) {
.section__pic-container{
    text-align: center;
    margin-left: -37px;
}
>>>>>>> dac0e89 (Initial commit)
}